Hello, the variable name=<TMPL_VAR name>
<TMPL_IF name="baloogha">
Name is             not empty
<TMPL_ELSE>
Name is empty
</TMPL_IF>
<TMPL_LOOP banana>
<TMPL_VAR peels>
<TMPL_IF peels gt 5> too many!</TMPL_IF>
</TMPL_LOOP>
